.tl-task-item-tags {
  display: flex;
  gap: 0.75rem;
  .tl-task-item-tags__tag {
    font-size: 0.875rem;
    display: flex;
    gap: 0.25rem;
    align-items: baseline;
    color: var(--tl-text-light-2);
    text-transform: lowercase;
  }
}
