.toast {
    padding: 1.2rem;
    border-radius: var(--radius);
    border-width: 0px;
}

.toast .toast-body {
    color: #fff;
    padding: 0;
}

.toast.notification-success {
    background-color: #31a503;
}

.toast.notification-danger {
    background-color: #dc3545;
}

.toast.notification-added {
    background-color: var(--primary-color);
}