.add-new-task-link {
  font-size: 1rem;
}
.toast-body {
  color: #fff;
}
.toast-body.notification-success {
  background-color: #31a503;
}
.toast-body.notification-danger {
  background-color: #dc3545;
}
.toast-body.notification-added {
  background-color: var(--primary-color);
}
