.tasks-wrapper {
  background-color: var(--white);
  margin-top: 1rem;
  padding: 0.8rem 2rem;
  border-radius: 5px;
}
.pending-tasks {
  font-weight: 600;
}

.add-new-task-link {
  font-size: 1rem;
}
