:root {
  --primary-color: #3d56fb;
  --black: #232020;
  --white: #fff;
  --gradient: 50;
  --shadow: 0px 3px 10px 0px var(--light-blue);
  --form-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  --highlight-shadow: 0px 3px 10px 0px var(--light-blue);
  --radius: 12px;
  --grey: #ebebeb;
  --grey-2: #eeedeb;
  --primary-hover: #3145c9;
  --secondary-color: #ebebeb;
  --primary-text-color: #333333;
  --padding-0: 0.5rem;
  --padding-1: 1rem;
  --padding-2: 1.5rem;
  --padding-3: 3rem;
  --border-color: #ebebeb;
  --pending-bg: #f1c78e;
  --completed-bg: #9efdc7;
  --light-blue: #eceeff;
}

@font-face {
  font-family: "inter";
  src: url("../assets/fonts/inter-v12-latin-regular.woff");
}
@font-face {
  font-family: "inter";
  src: url("../assets/fonts/inter-v12-latin-600.woff");
  font-weight: 600;
}

/* Globals */

body {
  font-family: "inter";
  font-size: 1rem;
  color: var(--primary-text-color);
  letter-spacing: -0.2px;
  overflow-x: hidden;
}

body.modal-open {
  overflow-y: auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  letter-spacing: -0.7px;
}

a {
  text-decoration: none;
}

a {
  color: var(--primary-color);
  font-weight: 600;
}
/* Custom Buttons */
.btn--primary {
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 1rem;
  border: none;
  font-weight: 600;
}
.btn--primary:hover {
  background-color: var(--primary-hover);
  color: var(--white);
}
.btn--secondary {
  background-color: var(--secondary-color);
  color: var(--black);
  font-size: 1rem;
  border: none;
  font-weight: 600;
}
.btn--secondary:hover {
  background-color: var(--white);
  color: var(--black);
}
.btn--delete {
  border: none;
}
.text--primary {
  color: var(--primary-color);
}
.border-bottom {
  border-bottom: 1px solid var(--border-color);
}

/* End of Globals */

.delete-icon {
  cursor: pointer;
}

/* Form Styles */
.form-background {
  box-shadow: var(--form-shadow);
  padding: 2rem;
  border-radius: var(--radius);
  background-color: var(--white);
}
.form-background h4 {
  letter-spacing: -0.9px;
}
.login-form,
.custom-form,
.register-form {
  margin: 0 auto;
}

.login-form input:focus,
.custom-form input:focus,
.register-form input:focus {
  box-shadow: 0 0 0 0.25rem rgb(41 64 211 / 25%);
}

/* Sidebar */
.dashboard {
  margin-left: 400px;
}

.sidebar {
  margin-top: 66px;
  background-color: var(--black);
}

/* Task status Styles */
.stat-card.completed,
.completed {
  background-color: #9efdc7;
  color: #0c321d;
}
.stat-card.pending,
.pending {
  background-color: #f1c78e;
  color: #4c3105;
}
.stat-card.total {
  background-color: #ececec;
  color: #777777;
}

/* Navabr and Dashboard */

@media only screen and (max-width: 768px) {
  .dashboard {
    margin: 0;
  }
}

.dashboard .close {
  margin-left: 0;
}

.btn-close {
  background: url("../assets/Images/tasklife__close.svg") center/1rem auto no-repeat;
}

.modal-open {
  padding-right: 0 !important;
}

.logout-btn {
  margin: 1rem 0;
}
