.feature-img {
  padding: 11rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #eceeff;
  box-shadow: 0 15px 45px 0px #eceeff;
  border-radius: var(--radius);
}
.feature .feature-img {
  width: 400px;
}
.features-section .feature {
  margin: 2.5rem 0;
}
.feature-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
}

.feature-1 {
  background-image: url("../../assets/Images/features/TaskLife-EasyToUse.png");
  background-position: left;
}
.feature-2 {
  background-image: url("../../assets/Images/features/TaskLife-QuickAnalytics.png");
  background-position: right;
}
