.tl-task-item {
  display: flex;
  gap: var(--tl-spacing-s);
  border-bottom: var(--tl-spacing-2xs);
  margin-bottom: var(--tl-spacing-2xs);

  .tl-task-item__checkbox,
  .tl-task-item__task {
    padding: var(--tl-spacing-md) 0;
  }

  .tl-task-item__done,
  .tl-task-item__pending {
    display: flex;
    margin-top: var(--tl-spacing-2xs);
    &:hover {
      cursor: pointer;
    }
  }

  .tl-task-item__task {
    border-bottom: 1px solid var(--tl-theme-border);
    flex-grow: 1;
  }

  .tl-task-item__checkbox-input {
    width: var(--tl-spacing-md);
    height: var(--tl-spacing-md);
    appearance: none;
    border-radius: 50%;
    border: 2px solid var(--tl-theme-border);
    &:checked {
      background-color: skyblue;
    }
  }
  .tl-task-item__info-options {
    display: flex;
    gap: var(--tl-spacing-xl);
    .tl-task-item__options {
      display: flex;
      gap: var(--tl-spacing-md);
    }
    .tl-task-item__task-name {
      font-weight: 500;
      font-family: "Inter Display";
      color: var(--tl-text-base);
    }
  }
  .tl-task-item__due-date {
    color: var(--tl-theme-base);
    font-size: 0.875rem;
  }
  .tl-task-item__info {
    display: flex;
    gap: var(--tl-spacing-s);
  }
}

// .task-item {
//   padding: 0.8rem;
//   border: 2px solid var(--grey-2);
//   border-radius: var(--radius);
// }

// .task-item:hover {
//   box-shadow: var(--highlight-shadow);
//   transition: all 0.2s;
//   border: 2px solid var(--light-blue);
// }

// .task-label {
//   font-size: 0.8rem;
//   padding: 0 0.8rem;
//   font-weight: 600;
//   border-radius: var(--radius);
// }

// .due-date p {
//   font-weight: 600;
// }

// .task-item .form-check-input[type="checkbox"] {
//   background-color: var(--grey-2);
//   border: none;
// }

// .task-item .done .form-check-input:checked[type="checkbox"] {
//   background-color: var(--primary-color);
// }

// .task-data {
//   width: 60%;
// }

// .task-item-status .form-check-input[type="checkbox"] {
//   margin-top: 0;
//   width: 1.5em;
//   height: 1.5em;
//   border-radius: 50%;
//   background-color: var(--grey-2);
// }

// .task-item-status .form-check-input:checked[type="checkbox"] {
//   background-color: var(--light-blue);
//   background-image: none;
// }

// .btn.btn--link {
//   text-decoration: none;
// }

// .task-item-icons svg:hover,
// .status-checkbox,
// .form-check-input[type="checkbox"] {
//   cursor: pointer;
// }

// .tags {
//   margin-right: 2px;
// }
