.task-item {
  padding: 0.5rem 0.8rem;
  border: 1px solid var(--grey-2);
  border-radius: var(--radius);
}
.due-date p {
  font-weight: 600;
}
.task-item .form-check-input[type="checkbox"] {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  background-color: var(--grey-2);
  border: none;
}
.task-item .form-check-input:checked[type="checkbox"] {
  background-image: none;
  background-color: var(--primary-color);
}
.task-data {
  width: 60%;
}
.dropdown-toggle::after {
  display: none;
}
.actions-dropdown {
  background: none;
  border: none;
}
.dropdown-toggle::after {
  display: none !important;
}
.dropdown-toggle {
  background: none !important;
  border: none !important;
}
.task-status .form-check-input[type="checkbox"] {
  margin-top: 0;
}
.task-item .dropdown-menu {
  min-width: 50%;
  text-align: center;
}
.btn.btn--link {
  text-decoration: none;
}
.task-item-icons svg:hover {
  cursor: pointer;
}
@media only screen and (min-width: 769px) {
  .bi .bi-three-dots {
    width: 40;
    height: 40;
  }
}

.stat {
  margin-bottom: 0;
}
