.hero-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../assets/Images/hero.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding: 10em 0;
}

.hero-title {
  text-align: center;
  font-size: 3rem;
}
.hero-secondary {
  font-size: 1.5rem;
  text-align: center;
}
.hero-buttons {
  gap: 15px;
  margin: 0 auto;
}

.hero-title,
.hero-secondary {
  color: var(--white);
}

.hero-buttons .btn-login,
.hero-buttons .btn-demo-login {
  margin: 0.3em auto;
}

@media (max-width: 375px) {
  .hero-buttons .btn-login,
  .hero-buttons .btn-demo-login {
    width: 80%;
  }
  .hero-title {
    font-size: 2.5rem;
  }
}

@media (min-width: 375px) {
  .hero-buttons .btn-login,
  .hero-buttons .btn-demo-login {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .hero-buttons .btn-login,
  .hero-buttons .btn-demo-login {
    width: 25%;
  }
}
