.hero-bg {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding-top: 4em;
}

.hero-image .img-fluid {
  max-width: 75%;
  margin: 3rem auto;
  margin-bottom: 0;
}

.hero-image {
  margin-bottom: 0;
}

.hero-title {
  text-align: center;
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: -2.5px;
}

.hero-secondary {
  font-size: 1.3rem;
  text-align: center;
}

.hero-buttons {
  gap: 15px;
  margin: 0 auto;
}

.hero-title,
.hero-secondary {
  color: var(--black);
  width: 50%;
  margin: var(--tl-spacing-xl) auto;
}

.hero-buttons .btn-login,
.hero-buttons .btn-demo-login {
  margin: var(--tl-spacing-xs) auto;
  padding: var(--tl-spacing-md) var(--tl-spacing-xs);
  width: 20%;
}

.home-section {
  background-color: #eceeff;
}

.btn-demo-login {
  background-color: var(--black);
  color: var(--white);
}

.hero-buttons .btn-demo-login {
  background-color: var(--black);
  color: var(--white);
  font-weight: 600;
}

.hero-buttons .btn-demo-login:hover {
  background-color: var(--white);
  color: var(--black);
}

.features-section {
  margin: 5rem 0;
}

.footer {
  margin-top: 3rem;
}