.tl-home-section {
  .tl-home-section__home-wrapper {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(147, 197, 253, 1) 100%);
  }
}

.features-section {
  margin: 5rem 0;
}

.footer {
  margin-top: 3rem;
}
