.navbar {
  box-shadow: var(--shadow);
  padding: var(--padding-0);
}

.navbar .header-cta {
  padding: var(--tl-spacing-xs) var(--tl-spacing-md);
  display: inline-block;
  background: none;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.disabled-link {
  pointer-events: none;
}

.logo {
  width: 40%;
}