.tl-task__form-wrapper {
  border-top-left-radius: var(--tl-spacing-xl);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #fff;
  width: 100%;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  box-shadow: -8px 0px 16px 0px #e5e7eb;
  .tl-task__form-container {
    padding: var(--tl-spacing-2xl) var(--tl-spacing-xl);
    display: flex;
    flex-direction: column;
    gap: var(--tl-spacing-2xl);
    .tl-task__form-date-input {
      width: 100%;
    }
  }
  .tl-task__form {
    // flex-grow: 1;
    .tl-task__form-name-desc {
      padding: var(--tl-spacing-md);
      border-radius: var(--tl-spacing-s);
      display: flex;
      flex-direction: column;
      gap: var(--tl-spacing-xs);
      .tl-task__form-task-name {
        font-size: 1.125rem;
        font-weight: 500;
        font-family: "Inter Display";
      }
    }
    .tl-task__form-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: var(--tl-spacing-xs);

      .tl-task__form-due-date,
      .tl-task__form-tags {
        display: flex;
        gap: var(--tl-spacing-xs);
        padding: var(--tl-spacing-2xs) 0;
        width: 100%;
      }

      .tl-task__form-due-date {
        .react-datepicker-wrapper {
          width: 100%;
          .tl-task__form-date-input {
            border-bottom: 1px solid var(--tl-theme-border);
          }
        }
      }

      .tl-task__form-tags {
        color: var(--tl-text-light-1);
        align-items: center;
        position: relative;
      }
    }
  }
  .tl-task__form-submit {
    display: flex;
    flex-direction: column;
    padding: var(--tl-spacing-xl) var(--tl-spacing-2xl);
    background-color: var(--tl-theme-bg);
    gap: var(--tl-spacing-s);
    margin-top: auto;

    .tl-task__form-cancel {
      background-color: var(--tl-neutral-white);
      color: var(--tl-text-light-1);
    }
    .tl-task__form-save {
      background-color: var(--tl-theme-base);
      color: var(--tl-neutral-white);
    }

    .tl-task__form-cancel,
    .tl-task__form-save {
      width: 100%;
    }

    .tl-btn {
      border-radius: var(--tl-spacing-xs);
      padding: var(--tl-spacing-xs) var(--tl-spacing-s);
      font-size: var(--tl-spacing-md);
      font-weight: 500;
      font-family: "Inter Display";
    }
  }
}

@media screen and (min-width: 1024px) {
  .tl-task__form-wrapper {
    width: 400px;
    top: 0;
    .tl-task__form {
      flex-grow: 1;
    }
    .tl-task__form-submit {
      flex-direction: row;

      .tl-task__form-cancel,
      .tl-task__form-save {
        width: 50%;
      }
    }
  }
}
