.sidebar .offcanvas-title {
  color: var(--white);
}

.offcanvas.offcanvas-start {
  width: 300px !important;
}

.sidebar {
  margin-top: 0 !important;
}

.offcanvas-body,
.offcanvas-header {
  background-color: var(--primary-color);
}

.offcanvas .offcanvas-header {
  padding: 1rem 1.5rem;
}

.sidebar-link {
  font-size: 1rem;
  font-weight: 700;
  border-radius: var(--radius);
}

.sidebar-link,
.logout-menu {
  margin: 1rem;
}

.sidebar-link:hover,
.sidebar-link-active {
  background-color: var(--primary-hover);
}

.sidebar-link a {
  color: var(--white);
  display: inline-block;
  cursor: pointer;
  width: 100%;
}

.sidebar-link a,
.logout-menu {
  padding: 1rem 2rem;
}

.sidebar-link a:hover {
  color: var(--white);
}

.sidebar .offcanvas-body {
  padding: 1.5rem 0;
}

.logout-menu {
  cursor: pointer;
  fill: #fff;
}

.logout-menu p {
  font-weight: 600;
}

.logout-menu:hover {
  background-color: var(--primary-hover);
  border-radius: var(--radius);
}