.sidebar .offcanvas-title {
  color: var(--primary-color);
}

.sidebar-link {
  background-color: var(--primary-color);
  padding: 1em;
  font-size: 1rem;
  font-weight: 700;
}

.sidebar-link a {
  color: var(--black);
}

.sidebar .offcanvas-body {
  padding: 0;
}
