.sidebar .offcanvas-title {
  color: var(--white);
}

.sidebar {
  margin-top: 0 !important;
}

.offcanvas-body,
.offcanvas-header {
  background-color: var(--primary-color);
}

.offcanvas .offcanvas-header {
  padding: 1rem 1.5rem;
}

.offcanvas.offcanvas-start {
  width: 300px !important;
}

.sidebar-link {
  font-size: 1rem;
  font-weight: 700;
}

.sidebar-link:hover {
  background-color: var(--primary-hover);
}

.sidebar-link a {
  color: var(--white);
  display: block;
  padding: 1em;
  margin: 1em 0;
}
.sidebar-link a:hover {
  color: var(--white);
}

.sidebar .offcanvas-body {
  padding: 0;
}

.logout-menu {
  cursor: pointer;
  fill: #fff;
  padding: 1rem 2rem;
}
.logout-menu p {
  font-weight: 600;
}

.logout-menu:hover {
  background-color: var(--primary-hover);
}
