.dashboard {
  margin-left: 300px !important;
}

.dashboard-wrapper {
  background-color: var(--white);
  margin-top: 1.5rem;
  padding: 0.8rem 2rem;
  border-radius: 5px;
}

.dashboard .container {
  margin: 0;
  max-width: 100%;
}

.heading,
.sub-heading {
  font-weight: 600;
}

.heading {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .dashboard {
    margin-left: 0 !important;
  }
}
