.tl-dashboard {
  .tl-dashboard__stats-container {
    padding-top: var(--tl-spacing-l);
    display: flex;
    gap: var(--tl-spacing-xl);
  }
}

.rounded-bar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-number {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ececec;
  color: var(--primary-text-color);
  font-size: var(--tl-spacing-xl);
}

.stat-container {
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  background-color: var(--white);
}

.prod-percent {
  font-size: var(--tl-spacing-xl);
  font-weight: 600;
}

.prod-title {
  font-size: var(--tl-spacing-md);
}

.prod-percent,
.prod-title {
  margin-bottom: 0;
}
