.task-modal .task-item-tags {
    margin-left: 0;
}

.task-modal-title {
    margin: 1rem 0;
}

.task-modal-sub-heading {
    color: #878a9e;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

.task-modal-due-date p {
    font-weight: 600;
}

.task-modal-status .task-label {
    width: 20%;
}

.task-modal-spacing {
    margin: 1rem 0;
}

.task-modal-heading {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
}

.task-modal .task-label {
    margin-bottom: 0;
}

.task-modal-btn {
    text-align: center;
}

.task-modal-edit-link {
    width: 50%;
}