.tl-add-task {
  font-size: var(--tl-spacing-md);
  .tl-add-task__text {
    color: var(--tl-theme-base);
    display: flex;
    align-items: center;
    gap: var(--tl-spacing-s);
    font-weight: 500;
  }
}
.tl-tasks__in-progress {
  .tl-add-task__text {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
