.tl-add-task {
  font-size: var(--tl-spacing-md);
  .tl-add-task__text {
    color: var(--tl-theme-base);
    display: flex;
    align-items: center;
    gap: var(--tl-spacing-s);
    font-weight: 500;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  cursor: pointer;
  &:hover {
    background-color: var(--tl-theme-light-5);
  }
}

@media screen and (max-width: 1024px) {
  .tl-add-task {
    display: flex;
    justify-content: center;
    background-color: var(--tl-theme-base);
    text-align: center;
    border-radius: var(--tl-spacing-xs);
    margin-top: var(--tl-spacing-l);
    margin-bottom: var(--tl-spacing-s);
    padding: var(--tl-spacing-md) var(--tl-spacing-xl);
    .tl-add-task__text {
      color: var(--tl-neutral-white);
      padding: 0;
    }
  }
}
