.rounded-bar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-number {
  width: 115px;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 1.5rem;
}
.stat-container {
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  background-color: var(--white);
}

@media (max-width: 770px) {
  .stat-container {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .stats-container .col-lg-3 {
    width: 32%;
  }
}
