:root {
  --primary-color: #3d56fb;
  --black: #232020;
  --white: #fff;
  --gradient: 50;
  --shadow: #ebebeb 0px 2px 8px;
  --radius: 11px;
  --grey: #ebebeb;
  --primary-hover: #5d5ff8;
  --secondary-color: #ada9bb;
  --primary-text-color: #333333;
}

@font-face {
  font-family: "inter";
  src: url("./assets/fonts/inter-v12-latin-regular.woff");
}
@font-face {
  font-family: "inter";
  src: url("./assets/fonts/inter-v12-latin-600.woff");
  font-weight: 600;
}

/* Globals */

body {
  font-family: "inter";
  background-color: var(--grey);
  font-size: 1rem;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

a {
  text-decoration: none;
}

/* Custom Buttons */
.btn--primary {
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 1em;
  border: none;
  font-weight: 600;
}
.btn--primary:hover {
  background-color: var(--primary-hover);
  color: var(--white);
}

.btn--secondary {
  background-color: var(--secondary-color);
  color: var(--black);
  font-size: 1em;
  border: none;
  font-weight: 600;
}
.btn--secondary:hover {
  background-color: var(--white);
  color: var(--black);
}

.text--primary {
  color: var(--primary-color);
}

/* End of Globals */

.delete-icon {
  cursor: pointer;
}

/* Form Styles */
.form-background {
  box-shadow: var(--shadow);
  padding: 1em;
  margin: 3em 0;
  border-radius: var(--radius);
  background-color: var(--white);
}
.login-form,
.custom-form,
.register-form {
  width: 80%;
  margin: 0 auto;
}

.login-form input:focus,
.custom-form input:focus,
.register-form input:focus {
  box-shadow: 0 0 0 0.25rem rgb(41 64 211 / 25%);
}

/* Sidebar */
.dashboard {
  margin-left: 400px;
}

.sidebar {
  margin-top: 66px;
  background-color: var(--black);
}

/* Task Form */

.task-form-title {
  color: var(--primary-color);
}

/* Navabr and Dashboard */

@media only screen and (max-width: 768px) {
  .dashboard {
    margin: 0;
  }
}

.dashboard .close {
  margin-left: 0;
}

.btn-close {
  background: url("/public/close.svg") center/1em auto no-repeat;
}

.modal-open {
  padding-right: 0 !important;
}

.logout-btn {
  margin: 1em 0;
}
