:root {
  --primary-color: #3bc9db;
  --black: #232020;
  --white: #fff;
}

/* Globals */
a {
  text-decoration: none;
}

/* Custom Buttons */
.btn--primary {
  background-color: var(--primary-color);
  color: var(--black);
}
.text--primary {
  color: var(--primary-color);
}

/* Form Styles */
.form-background {
  box-shadow: rgb(59 201 219 / 35%) 0px 5px 15px;
  padding: 3em;
}
.login-form,
.custom-form {
  width: 80%;
  margin: 0 auto;
}
.login-form .form-control,
.register-form .form-control,
.custom-form .form-control {
  border: 1px solid var(--primary-color);
}

/* Sidebar */
.dashboard {
  margin-left: 400px;
}

.sidebar {
  margin-top: 66px;
  background-color: var(--black);
}

@media only screen and (max-width: 768px) {
  .dashboard {
    margin: 0;
  }
}

.dashboard .close {
  margin-left: 0;
}

.btn-close {
  background: url("/public/close.svg") center/1em auto no-repeat;
}

.logout-btn {
  margin: 1em 0;
}
