.stat-name {
  margin-bottom: 0;
}

.stat-name,
.stat {
  font-weight: 600;
}

.stat-card {
  text-transform: capitalize;
  border-radius: var(--radius);
}

.stat-container {
  margin: 0 0.var(--tl-spacing-xl);
}

.dashboard-wrapper .stat-card {
  padding: var(--tl-spacing-xl);
}

.stat-link {
  color: inherit;
  font-size: 0.9rem;
  font-weight: 500;
}